Repository santoshakil/lightning_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

.pre-commit-config.yaml:

# Pre-commit hooks for Lightning DB security
# Install with: pip install pre-commit && pre-commit install

repos:
  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(target/|\.git/)

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        files: \.(rs|toml)$
        pass_filenames: false
        
      - id: cargo-clippy
        name: cargo clippy (security lints)
        entry: cargo clippy --all-targets --all-features --
        language: system
        args:
          - -D
          - clippy::unwrap_used
          - -D
          - clippy::expect_used
          - -D
          - clippy::panic
          - -D
          - clippy::integer_overflow
          - -W
          - clippy::cast_lossless
          - -W
          - clippy::cast_possible_truncation
        files: \.rs$
        pass_filenames: false
        
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: (Cargo\.(toml|lock)|\.rs)$
        
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: (Cargo\.(toml|lock)|deny\.toml)$

  # General security and quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.min\.(js|css)$
      - id: trailing-whitespace
        exclude: \.min\.(js|css)$

  # Docker security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile.*

  # Additional security tools
  - repo: https://github.com/semgrep/semgrep
    rev: v1.45.0
    hooks:
      - id: semgrep
        args: ['--config=p/security-audit', '--config=p/secrets', '--error']
        
  # License checking
  - repo: local
    hooks:
      - id: check-license-headers
        name: check license headers
        entry: python3
        args: ['-c', 'import sys; files=sys.argv[1:]; [print(f"No license header in {f}") for f in files if not any(line.strip().startswith(("// Copyright", "# Copyright", "/* Copyright")) for line in open(f, "r", encoding="utf-8", errors="ignore").readlines()[:10])]']
        language: system
        files: \.(rs|py|js|ts)$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Fix recovery utils module with minimal stub implementations
  src/core/recovery/recovery_utils.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix multiple clippy warnings - collapsible if, cast_abs_to_unsigned, question_mark, unnecessary_map_or, get_first, needless_lifetimes, manual_clamp, redundant_closure
  src/core/btree/mod.rs
  src/core/lsm/sstable.rs
  src/core/query_planner/execution.rs
  src/core/wal/log_rotation.rs
  src/core/write_optimized/sstable.rs
  src/features/adaptive_compression/adaptive_selector.rs
  src/features/adaptive_compression/algorithms.rs
  src/features/adaptive_compression/hardware_detection.rs
  src/features/transactions/isolation/locks.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix remaining clippy warnings - needless_range_loop, needless_return, and fix compilation errors
  src/core/lsm/compaction.rs
  src/features/backup/mod.rs
  src/features/logging/logger.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive real-world test scenarios for e-commerce, banking, IoT, crash recovery, and memory pressure
  tests/real_world_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive stress tests for database integrity validation including concurrent writes, crash recovery, memory pressure, and large datasets
  tests/stress_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update README with comprehensive documentation including test coverage, performance metrics, and production readiness status
  README.md
Due: none

Clean up benchmarks and test utilities
  Cargo.toml
  benches/comprehensive_benchmarks.rs
  benches/encryption_benchmarks.rs
  benches/mmap_benchmark.rs
  tests/common/concurrent.rs
  tests/common/data.rs
  tests/common/mod.rs
  tests/common/setup.rs
  tests/common/verify.rs
  tests/core_integration_test.rs
  tests/stress_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Fix FFI security and improve enum validation
  lightning_db_ffi/src/error.rs
  lightning_db_ffi/src/ffi/database_ffi.rs
  lightning_db_ffi/tests/security_tests.rs
  packages/lightning_db_dart/src/lightning_db_ffi.h
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add performance regression tests
  tests/perf_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive examples and complete cleanup
  examples/basic_usage.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove redundant test files
  tests/benchmark_validation_test.rs
  tests/comprehensive_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove unused dependencies
  Cargo.lock
  Cargo.toml
Due: cargo-check, cargo-audit, cargo-deny

Fix clippy warnings and improve code quality
  Cargo.lock
  lightning_db_wasm/Cargo.toml
  lightning_db_wasm/src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Fix failing tests in recovery and compression modules
  src/core/recovery/crash_recovery_manager.rs
  src/features/adaptive_compression/algorithms.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update documentation with recent optimizations and cleanup
  CLEANUP_SUMMARY.md
  src/core/btree/mod.rs
  src/core/btree/node.rs
  src/core/key_ops.rs
  src/core/storage/page_wrappers.rs
  src/core/wal/mod.rs
  src/performance/optimizations/simd.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Complete cleanup and optimization of Lightning DB
  src/utils/timeout_locks.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove duplicate dependencies and clean up lib.rs
  Cargo.toml
  src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Fix critical error handling issue in get_cache_stats
  src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix test issues and disable flaky B-tree test
  src/core/btree/test_utils.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers
