Repository santoshakil/lightning_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (security lints)
  entry: cargo clippy --all-targets --all-features --
  language: system
  args:
  - -D
  - clippy::unwrap_used
  - -D
  - clippy::expect_used
  - -D
  - clippy::panic
  - -D
  - clippy::integer_overflow
  - -W
  - clippy::cast_lossless
  - -W
  - clippy::cast_possible_truncation
  ...

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

check-license-headers:
  name: check license headers
  entry: python3
  args:
  - -c
  ...

Remove unsafe SIMD optimizations and clean up performance metrics
  src/core/key_ops.rs
  src/lib.rs
  src/performance/mod.rs
  src/performance/optimizations/mod.rs
  src/performance/optimizations/simd.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove unused memory tracker module
  src/utils/memory_tracker.rs
  src/utils/mod.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove unsafe code from WAL and resource manager
  src/core/wal/mod.rs
  src/utils/resource_manager.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove last unsafe code from cache adaptive sizing
  src/performance/cache/adaptive_sizing.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix stack overflow in QuotaManager::disabled
  src/utils/resource_management/quotas/mod.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix clippy warnings for map_identity
  src/core/btree/concurrent.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix clippy too_many_arguments warning
  src/core/btree/integrity_validation.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update work log with third 5+ hour session achievements
  WORK_LOG.md
Due: none

Minor documentation update for memory optimization
  src/database/operations.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive performance benchmark
  Cargo.toml
  examples/performance_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Fix clippy warnings: new_without_default, derivable_impls, or_insert_with, needless_borrow, and other warnings
  src/core/btree/mod.rs
  src/core/iterator/base.rs
  src/core/query_planner/cost_model.rs
  src/core/query_planner/execution.rs
  src/core/query_planner/index_selection.rs
  src/core/query_planner/join_optimizer.rs
  src/core/query_planner/optimizer.rs
  src/core/query_planner/statistics.rs
  src/core/recovery/crash_recovery_manager.rs
  src/core/recovery/recovery_utils.rs
  src/core/storage/page_type.rs
  src/core/transaction/unified_manager.rs
  src/core/wal/log_rotation.rs
  src/core/write_optimized/write_engine.rs
  src/features/adaptive_compression/algorithms.rs
  src/features/adaptive_compression/benchmark.rs
  src/features/adaptive_compression/hardware_detection.rs
  src/features/backup/incremental.rs
  src/features/encryption/key_manager.rs
  src/features/monitoring/production_hooks.rs
  src/features/transactions/isolation/conflicts.rs
  src/features/transactions/isolation/levels.rs
  src/features/transactions/isolation/locks.rs
  src/features/transactions/isolation/validation.rs
  src/features/transactions/isolation/visibility.rs
  src/performance/cache/prewarming.rs
  src/utils/file_ops.rs
  src/utils/integrity/data_integrity.rs
  src/utils/integrity/metrics.rs
  src/utils/integrity/mod.rs
  src/utils/leak_detector.rs
  src/utils/resource_manager.rs
  src/utils/safety/corruption_detection.rs
  src/utils/timeout_locks.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove unused config module and clean up empty placeholder files
  src/utils/config.rs
  src/utils/mod.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix background thread shutdown timing in UnifiedTransactionManager and VersionCleanupThread
  src/core/transaction/unified_manager.rs
  src/core/transaction/version_cleanup.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add performance optimizations: read cache and small allocation pool for common key/value sizes
  src/performance/mod.rs
  src/performance/read_cache.rs
  src/performance/small_alloc.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix overflow in LSM memtable size calculation and remove unused import
  src/core/lsm/mod.rs
  src/utils/error_recovery.rs
  src/utils/mod.rs
  tests/edge_cases.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive real-world scenario tests covering various use cases
  tests/real_world_scenarios.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix FFI compilation error and apply clippy auto-fixes
  lightning_db_ffi/src/ffi/iterator_ffi.rs
  src/core/recovery/crash_recovery_manager.rs
  src/database/operations.rs
  src/features/adaptive_compression/algorithms.rs
  src/features/adaptive_compression/benchmark.rs
  src/utils/error_recovery.rs
  src/utils/integrity/mod.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update README with recent improvements and test documentation
  README.md
Due: none

Add comprehensive critical operations benchmark and fix performance test warning
  Cargo.toml
  benches/critical_operations.rs
  examples/performance_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Add comprehensive task completion report documenting all improvements
  COMPLETION_REPORT.md
Due: none

Path conditions:
  cargo-check: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: (Cargo\.(toml|lock)|\.rs)$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-license-headers: any of: \.(rs|py|js|ts)$
