Repository santoshakil/lightning_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (security lints)
  entry: cargo clippy --all-targets --all-features --
  language: system
  args:
  - -D
  - clippy::unwrap_used
  - -D
  - clippy::expect_used
  - -D
  - clippy::panic
  - -D
  - clippy::integer_overflow
  - -W
  - clippy::cast_lossless
  - -W
  - clippy::cast_possible_truncation
  ...

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

check-license-headers:
  name: check license headers
  entry: python3
  args:
  - -c
  ...

feat: consolidate page manager implementations into unified async page manager
  src/async_page_manager.rs
  src/storage/optimized_page_manager.rs
  src/storage/page.rs
  src/storage/page_cache_adapter.rs
  src/storage/page_cache_adapter_wrapper.rs
  src/storage/page_manager_async.rs
  src/storage/page_manager_wrapper.rs
  src/storage/unified_page_manager.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix critical test hangs and improve system stability
  FINAL_DEVELOPMENT_REPORT.md
  examples/perf_test.rs
  examples/simple_perf.rs
  src/core/recovery/comprehensive_recovery.rs
  src/utils/integrity/mod.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive security audit report
  SECURITY_AUDIT.md
Due: none

Fix compilation errors - reduced from 58 to 22
  src/core/query_planner/execution.rs
  src/core/query_planner/index_selection.rs
  src/core/query_planner/join_optimizer.rs
  src/core/query_planner/statistics.rs
  src/features/transactions/deadlock.rs
  src/features/transactions/optimistic_cc.rs
  src/features/transactions/transaction_log.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix all compilation errors and create working example
  examples/basic_usage.rs
  src/core/error.rs
  src/core/query_planner/cost_model.rs
  src/core/query_planner/execution.rs
  src/core/query_planner/index_selection.rs
  src/core/query_planner/join_optimizer.rs
  src/core/query_planner/optimizer.rs
  src/core/query_planner/planner.rs
  src/core/storage/page_manager_async.rs
  src/features/migration/batch_processor.rs
  src/features/migration/engine.rs
  src/features/migration/implementations.rs
  src/features/transactions/coordinator.rs
  src/features/transactions/deadlock.rs
  src/features/transactions/optimistic_cc.rs
  src/features/transactions/participant.rs
  src/features/transactions/recovery.rs
  src/features/transactions/saga.rs
  src/features/transactions/transaction_log.rs
  src/lib.rs
  tests/migration_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add performance test examples
  examples/quick_test.rs
  examples/stress_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Remove all GitHub workflows to prevent failed workflow notifications
  .github/workflows/integration-tests.yml
  .github/workflows/performance-regression.yml
Due: none

Improve error handling and add comprehensive stress tests
  src/performance/io_uring/readahead.rs
  src/performance/lock_free/memory_pool.rs
  src/performance/memory/pool.rs
  src/performance/memory/thread_local_pools.rs
  tests/real_world_stress_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add exhaustive concurrent access and extreme integrity tests
  src/core/btree/mod.rs
  tests/concurrent_exhaustive_test.rs
  tests/extreme_integrity_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive performance benchmarks
  Cargo.toml
  benches/comprehensive_benchmarks.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Add comprehensive memory leak detection tests
  tests/memory_leak_detection.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add clean standardized public API and improve codebase quality
  src/api.rs
  src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Path conditions:
  cargo-check: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: (Cargo\.(toml|lock)|\.rs)$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-license-headers: any of: \.(rs|py|js|ts)$
