Repository santoshakil/lightning_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

cargo-check:
  name: cargo check
  entry: cargo check --all-targets --all-features
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy (security lints)
  entry: cargo clippy --all-targets --all-features --
  language: system
  args:
  - -D
  - clippy::unwrap_used
  - -D
  - clippy::expect_used
  - -D
  - clippy::panic
  - -D
  - clippy::integer_overflow
  - -W
  - clippy::cast_lossless
  - -W
  - clippy::cast_possible_truncation
  ...

cargo-audit:
  name: cargo audit
  entry: cargo audit
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

check-license-headers:
  name: check license headers
  entry: python3
  args:
  - -c
  ...

Add comprehensive final stress tests
  tests/final_stress_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add production-ready configuration presets
  src/config_presets.rs
  src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive improvements summary
  IMPROVEMENTS.md
Due: none

Consolidate and clean up test files
  IMPROVEMENTS.md
  tests/comprehensive_integration.rs
  tests/core_functionality.rs
  tests/edge_cases.rs
  tests/final_stress_test.rs
  tests/integration_tests.rs
  tests/real_world_example.rs
  tests/real_world_scenarios.rs
  tests/real_world_tests.rs
  tests/stress_edge_cases.rs
  tests/stress_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix test warnings and clean up code
  src/features/encryption/page_encryptor.rs
  tests/integration_tests.rs
  tests/stress_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix stress test failures for extreme sizes
  tests/stress_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update and simplify KNOWN_ISSUES.md
  KNOWN_ISSUES.md
Due: none

Fix hanging async tests in io_recovery and remove ignore attributes
  src/core/recovery/io_recovery.rs
  src/core/storage/mmap_optimized.rs
  src/features/adaptive_compression/streaming.rs
  src/features/encryption/page_encryptor.rs
  src/features/transactions/isolation/snapshot.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix all clippy warnings and complete final stability verification
  tests/integration_tests.rs
  tests/real_world_tests.rs
  tests/stress_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive performance benchmarks
  Cargo.toml
  benches/performance.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Add performance optimization utilities
  src/performance/mod.rs
  src/performance/optimizations.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive performance documentation
  PERFORMANCE.md
Due: none

Add database integrity checking and repair utilities
  src/utils/integrity.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive concurrent safety tests
  src/utils/integrity.rs
  tests/concurrent_safety.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix unused import warning in concurrent_safety test
  tests/concurrent_safety.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix memtable rotation logic to handle size limit errors
  src/core/write_optimized/memtable.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix integer overflow in TrackedWeak drop implementation
  src/utils/leak_detector.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update KNOWN_ISSUES with current codebase state
  KNOWN_ISSUES.md
Due: none

perf: optimize read path with lock-free cache and mmap
  src/core/lsm/mod.rs
  src/core/lsm/sstable.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

bench: add large-scale performance benchmark
  examples/large_scale_bench.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Path conditions:
  cargo-check: any of: \.(rs|toml)$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: (Cargo\.(toml|lock)|\.rs)$
  cargo-deny: any of: (Cargo\.(toml|lock)|deny\.toml)$
  check-license-headers: any of: \.(rs|py|js|ts)$
