Repository santoshakil/lightning_db: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

.pre-commit-config.yaml:

# Pre-commit hooks for Lightning DB security
# Install with: pip install pre-commit && pre-commit install

repos:
  # Security scanning
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: ^(target/|\.git/)

  # Rust-specific hooks
  - repo: local
    hooks:
      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        files: \.(rs|toml)$
        pass_filenames: false
        
      - id: cargo-clippy
        name: cargo clippy (security lints)
        entry: cargo clippy --all-targets --all-features --
        language: system
        args:
          - -D
          - clippy::unwrap_used
          - -D
          - clippy::expect_used
          - -D
          - clippy::panic
          - -D
          - clippy::integer_overflow
          - -W
          - clippy::cast_lossless
          - -W
          - clippy::cast_possible_truncation
        files: \.rs$
        pass_filenames: false
        
      - id: cargo-audit
        name: cargo audit
        entry: cargo audit
        language: system
        pass_filenames: false
        files: (Cargo\.(toml|lock)|\.rs)$
        
      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: (Cargo\.(toml|lock)|deny\.toml)$

  # General security and quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: \.min\.(js|css)$
      - id: trailing-whitespace
        exclude: \.min\.(js|css)$

  # Docker security
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile.*

  # Additional security tools
  - repo: https://github.com/semgrep/semgrep
    rev: v1.45.0
    hooks:
      - id: semgrep
        args: ['--config=p/security-audit', '--config=p/secrets', '--error']
        
  # License checking
  - repo: local
    hooks:
      - id: check-license-headers
        name: check license headers
        entry: python3
        args: ['-c', 'import sys; files=sys.argv[1:]; [print(f"No license header in {f}") for f in files if not any(line.strip().startswith(("// Copyright", "# Copyright", "/* Copyright")) for line in open(f, "r", encoding="utf-8", errors="ignore").readlines()[:10])]']
        language: system
        files: \.(rs|py|js|ts)$

# Configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

Add comprehensive security audit tests
  tests/security_audit_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Complete comprehensive database hardening project
  IMPROVEMENTS_SUMMARY.md
Due: none

Remove broken api module and fix compilation
  Cargo.lock
  src/api.rs
  src/lib.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Complete cleanup: Remove problematic features, fix all compilation errors
  lightning_db_ffi/src/ffi/database_ffi.rs
  lightning_db_ffi/src/lib.rs
  src/core/index.rs
  src/core/query_planner/planner.rs
  src/features/backup/incremental.rs
  src/features/connection_pool.rs
  src/features/distributed_cache.rs
  src/features/encryption/envelope_encryption.rs
  src/features/error_recovery.rs
  src/features/migration/implementations.rs
  src/features/monitoring_dashboard_optimized.rs
  src/features/query_optimizer.rs
  src/lib.rs
  src/utils/serialization/value_encoder.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Fix final test compilation issues, verify database performance
  src/utils/serialization/value_encoder.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive cleanup summary documentation
  CLEANUP_SUMMARY.md
Due: none

Remove unwrap() and expect() calls - improve error handling
  src/features/graceful_shutdown.rs
  src/features/logging/telemetry.rs
  src/performance/io_uring/io_scheduler.rs
  src/performance/io_uring/security_validation.rs
  src/performance/io_uring/zero_copy_buffer.rs
  src/security/crypto.rs
  src/utils/memory_tracker.rs
  src/utils/task_cancellation.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add ShardedPageManager for improved storage concurrency
  packages/lightning_db_dart/src/lightning_db_ffi.h
  src/core/storage/mod.rs
  src/core/storage/sharded_page_manager.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add GroupCommitWAL and fix gitignore
  .gitignore
  src/core/wal/atomic_wal.rs
  src/core/wal/checkpoint_manager.rs
  src/core/wal/corruption_validator.rs
  src/core/wal/group_commit_wal.rs
  src/core/wal/log_rotation.rs
  src/core/wal/mod.rs
  src/core/wal/optimized_wal.rs
  src/core/wal/recovery_fixes.rs
  src/core/wal/safe_recovery.rs
  src/core/wal/unified_wal.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Clean up and consolidate test files
  Cargo.toml
  benches/simple_production_test.rs
  src/lib.rs
  src/testing/btree_utils.rs
  src/testing/deadlock_tests.rs
  src/testing/error_propagation.rs
  src/testing/mod.rs
  src/testing/production_validation/mod.rs
  tests/concurrent_exhaustive_test.rs
  tests/extreme_integrity_test.rs
  tests/memory_leak_detection.rs
  tests/migration_tests.rs
  tests/real_world_stress_test.rs
  tests/security_audit_test.rs
  tests/test_compaction.rs
Due: cargo-check, cargo-clippy, cargo-audit, cargo-deny, check-license-headers

Fix critical issues in compression module
  src/features/adaptive_compression/streaming.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add LSM module and optimize LCS algorithm
  .gitignore
  src/core/lsm/background_compaction.rs
  src/core/lsm/compaction.rs
  src/core/lsm/delta_compression.rs
  src/core/lsm/iterator.rs
  src/core/lsm/iterator_fixed.rs
  src/core/lsm/memtable.rs
  src/core/lsm/mod.rs
  src/core/lsm/parallel_compaction.rs
  src/core/lsm/sstable.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Add comprehensive integration tests
  tests/integration_test.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update comprehensive documentation
  README.md
Due: none

Consolidate and clean up test files
  CLEANUP_SUMMARY.md
  clippy_output.txt
  tests/README.md
  tests/recovery_tests.rs
  tests/unit/mod.rs
  tests/unit/recovery/checksum_validator_tests.rs
  tests/unit/recovery/comprehensive_recovery_tests.rs
  tests/unit/recovery/consistency_checker_tests.rs
  tests/unit/recovery/mod.rs
  tests/unit/recovery/page_recovery_tests.rs
  tests/unit/recovery/transaction_recovery_tests.rs
  tests/unit/recovery/wal_recovery_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Clean up and optimize core modules
  src/core/btree/split_handler.rs
  src/core/storage/mod.rs
  src/core/transaction/mod.rs
  src/core/wal/atomic_wal.rs
  src/core/wal/mod.rs
  src/features/integrity/recovery.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers

Update and improve documentation
  README.md
Due: none

Add comprehensive integration tests
  tests/comprehensive_integration_tests.rs
Due: cargo-check, cargo-clippy, cargo-audit, check-license-headers
